{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/styles_common.css" />
<link rel="stylesheet" type="text/css" href="css/styles3d.css" />
<link rel="stylesheet" type="text/css" href="css/fallback.css" />
<link rel="stylesheet" type="text/css" href="css/styleshovercircle.css" />

<script type="text/javascript" src="js/modernizr.custom.72835.js"></script>
<script type="text/javascript" src="js/modernizr.custom.69142.js"></script>
<noscript>
	<link rel="stylesheet" type="text/css" href="css/noscript.css" />
</noscript>
{% endblock %}

 

{% block title %}{{page_name}}{% endblock %}

{% block body %}
<section id="showcase" class="dark-part"> 
	<div class="container">
		<h2>Réalisations</h2>
		<p > Voici quelques-unes de mes réalisations. Vous pouvez me contacter pour plus d'informations par <a href="#contact">ici</a>.</p>
		<div class="row">    
		<!-- loop qui va chercher les images des projets -->
		    <div class="col-12 col-lg-4">  
			    <div id="grid" class="main">
					<div class="view">
						<div class="view-back">
							<span >Titre du projet</span>
							<a href="#">&rarr;</a>
						</div>
						<img src="../images/4.jpg" />
					</div>
				</div>
		    </div>
		</div>	
	</div>
	
</section>

<section id="presentation">
	<div class="container">
		<h2>Présentation</h2>
		<div class="row">
			<div class="col-12 ">
				<p>Pleine d'idées et de motivation, je travaille avec plaisir sur toutes formes de projets. Qu'il s'agisse d'un site de e-commerce, un site vitrine ou pour un évènement particulier, je suis partante ! Si vous préférez travailler avec un CMS (par exemple WordPress), c'est aussi possible ;) </p>
				<p>Je suis curieuse et réflechie dans les prises de décisions, j'aime travailler en équipe, où je suis souvent force de propositions. L'écoute active est devenue une seconde nature, les discussions propices aux multiples idées, un vrai centre d'intérêt. Je crois qu'on avance peut être plus vite seul·e, mais qu'on va plus loin ensemble.</p>
			</div>
		</div>
		<div class="row img-row">
			<div class="col-12">
				<div class="row">
					<div class="col-3 img-col">
						<figure class="album-fig">
						    <img class="img-fluid" src="../images/6.png">
						    <figcaption class="album-title"><b>Curieuse</b></figcaption>
						</figure>
					</div>
					<div class="col-3 img-col">
						<figure class="album-fig">
						    <img class="img-fluid" src="../images/5.png">
						    <figcaption class="album-title"><b>Force de propositions</b></figcaption>
						</figure>
					</div>
					<div class="col-3 img-col">
						<figure class="album-fig">
						    <img class="img-fluid" src="../images/8.png">
						    <figcaption class="album-title"><b>Travaille en équipe</b></figcaption>
						</figure>
					</div>
					<div class="col-3 img-col">
						<figure class="album-fig">
						    <img class="img-fluid" src="../images/7.png">
						    <figcaption class="album-title"><b>Réflechie</b></figcaption>
						</figure>
					</div>
				</div>									
			</div>
		</div>
	</div>	
</section>

<section id="testimonials" class="dark-part">
	<div class="container">
		<h2>Retour d'expérience</h2>
		<div class="row">
            <div class="col-12 col-lg-6">  
                <span class="testimonial ">
                	<p class="testimonial-text">Ici la recommandation qui doit faire au maximum tant de caractères</p>
                </span>
                <p class="text-right"><i>Nom de la personne</i></p>        
            </div>
            <div class="col-12 col-lg-6">  
                <span class="testimonial ">
                	<p class="testimonial-text">Ici la recommandation</p>
                </span>
                <p class="text-right"><i>Nom de la personne</i></p>        
            </div>
            <div class="col-12 col-lg-6">  
                <span class="testimonial ">
                	<p class="testimonial-text">Ici la recommandation</p>
                </span>
                <p class="text-right"><i>Nom de la personne</i></p>        
            </div>
        </div>
	</div>	
</section>

<section id="framework">
	<div class="container framework-container">
		<h2>Quelques outils</h2>
		<p>La plupart des projets sur lesquels j'ai travaillé ont été codé dans les languages web classiques : HTML5, CSS3, JavaScript, PHP et SQL pour les bases de données.<br>
		Avec ces langages, j'ai utilisé des "frameworks" c'est à dire des boites à outils : jQuery pour JavaScript et Symfony pour PHP. Bootstrap a aussi été très utile pour la gestion du front-end. Pour les bases de données, j'ai souvent utilisé MySQL. Certains sites ont été créés avec le CMS WordPress, avec la création d'un plugin pour l'un, des corrections de bug dans le thème pour d'autres.<br>
		Pour le travail en équipe, j'utilise principalement Git, Slack et Trello.</p>
		<p class="mb-0">Ces quelques sigles vous sembleront peut être familiers ? </p>
		<!-- <img src="../images/5_2.png" />	 -->			
		<div class="row framework-row">
			<div class="col-md-3 framework-col">
				<div class="section"> 
					<div class="normal-trigger-area">
						<a href="#framework" id="circle1" class="ec-circle circle">
							<h3>HTML5</h3>
						</a>
					</div>
				</div>
				<div class="section"> 
					<div class="normal-trigger-area">
						<a href="#framework" id="circle2" class="ec-circle circlemouse2 circle">
							<h3>CSS3</h3>
						</a>
					</div>
				</div>	
			</div>
			<div class="col-md-3 framework-col">
				<div class="section"> 
					<div class="normal-trigger-area">
						<a href="#framework" id="circle3" class="ec-circle circlemouse3 circle">
							<h3>Javascript</h3>
						</a>
					</div>
				</div>
				<div class="section"> 
					<div class="normal-trigger-area">
						<a href="#framework" id="circle4" class="ec-circle circle">
							<h3>jQuery</h3>
						</a>
					</div>
				</div>	
			</div>
			<div class="col-md-3 framework-col">
				<div class="section"> 
					<div class="normal-trigger-area">
						<a href="#framework" id="circle5" class="ec-circle circle">
							<h3>PHP</h3>
						</a>
					</div>
				</div>
				<div class="section"> 
					<div class="normal-trigger-area">
						<a href="#framework" id="circle6" class="ec-circle circle">
							<h3>Symfony</h3>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-3  framework-col">
				<div class="section"> 
					<div class="normal-trigger-area">
						<a href="#framework" id="circle7" class="ec-circle circle">
							<h3>SQL</h3>
						</a>
					</div>
				</div>
				<div class="section"> 
					<div class="normal-trigger-area">
						<a href="#framework" id="circle8" class="ec-circle circle">
							<h3>MySQL</h3>
						</a>
					</div>
				</div>	
			</div>
		</div>	
	</div>	
</section>

<section id="contact" class="dark-part">
	<div class="container text-center">
		<h2>Vous avez envie de renforcer votre équipe ? </h2>
		<p>J'ai plein d'idées et je suis disponible ! Discutons-en !</p>
		<button class="btn btn-login" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">Formulaire de contact</button>
    	<div class="collapse" id="collapseForm">
      		<div class="card card-body light-part">
        		Ici le formulaire de contact
      		</div>
    	</div>
	</div>
</section>


{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$(function() {	
		$('.circle').circlemouse({
			onMouseEnter	: function( el ) {
				el.addClass('ec-circle-hover');
			},
			onMouseLeave	: function( el ) {			
				el.removeClass('ec-circle-hover');			
			},
		});		
	});				
</script>
<script type="text/javascript">				
	Modernizr.load({
		test: Modernizr.csstransforms3d && Modernizr.csstransitions,
		yep : ['http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js','js/jquery.hoverfold.js'],
		nope: 'css/fallback.css',
		callback : function( url, result, key ) {	
			if( url === 'js/jquery.hoverfold.js' ) {
				$( '#grid' ).hoverfold();
			}
		}
	});
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.circlemouse.js"></script>
<script type="text/javascript" src="js/jquery.hoverfold.js"></script>


{% endblock %}

