{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}


{% block body %}
<section class="dark-part" id="register">
<div class="container ">
	{% if error %}
		<div class="alert alert-danger">
			{{ error.messageKey | trans(error.messagedata, 'security') }}
		</div>
	{% endif %}
	{{ include('pages/_form-pj.html.twig', {form: form, button: 'S\'inscrire'}) }}
<a href="{{ path('login') }}">Déjà inscrit·e ? Se connecter, c'est par ici !</a>
</div>
</section>
{% endblock %}