{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}


{% block body %}
<section class="dark-part" id="register">
<div class="container ">
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	{{ include('pages/_form-pj.html.twig', {form: form }) }}

</div>
</section>
{% endblock %}