{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}


{% block body %}
<section class="dark-part" id="polconf">
<div class="container ">
	<h2>Politique de confidentialité</h2>
	<p>
		Responsable des publications : Gaëlle David<br>
		Site hébergé par Yulpa (adresse à venir). <br>
		Ce site n'est pas à usage commercial, il s'agit d'un CV interactif. 
	</p>
	<p>
		Aucun usage commercial ne sera fait de vos données. <br>
		Les données communiquées via le formulaire de contacte ne seront utilisées qu'en vue de vous répondre, le cas échéant. <br>
		Pour toutes questions relatives à vos données personnelles, vous pouvez m'écrire à : <br>
		<a href="mailto:contact@gaelle-david.cmoi.cc">contact@gaelle-david.cmoi.cc</a>
	</p>
	<p>
		Si ce site vous a plu, n'hésitez pas à me contacter, je ne manque jamais d'idées !
		<br>
		<a href="mailto:contact@gaelle-david.cmoi.cc">contact@gaelle-david.cmoi.cc</a>
		<br>
		Très belle journée à vous !
		<br><br>
		Gaëlle D.

	</p>

</div>
</section>
{% endblock %}