*, *:before, *:after {
 box-sizing: inherit;
}

/* STRUCTURE */

html { 
  	box-sizing: border-box;
	height:100%;
  	width: 100%;
  	font-family: 'arial', sans-serif;
}

body{
	width: 100%;
  	min-height: 100%!important;
  	overflow-x: hidden;
  	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	font-family: 'arial';
	padding: 0;
	margin:0;
	background-image: radial-gradient(circle, #feeeec, #feeeec, #feeeec, #feeeec, #feeeec, #feefef, #fef1f2, #fef2f4, #fdf5f9, #fdf9fc, #fdfcfe, #ffffff);

}

a{
	color: #50b4bf;
}

a:hover{
	text-decoration: none;
	color: #423634;
}


h1,
h2{
	color: #eb5b4b;
}
.fas,
.fab{
	margin-top: 1rem;
}

/*sections*/
section{
	padding: 1vh 1vw;
}
.dark-part{
	color: #feeeec;
	background-image: linear-gradient(to right bottom, #423634, #423634, #423634, #423634, #423634, #3e3331, #3b302e, #372d2b, #2f2625, #26201e, #1f1a18, #171312);
}
.dark-part a:hover{
	color: #feeeec;
}

.light-part{
	color: #423634;
}

/*navbar*/
.navbar-perso a{
	color: #423634;
}
.dark-btn{
	background-color: #423634!important;
	color: #feeeec!important;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.dark-btn:hover{
	background-color: #423634!important;
	color: #feeeec!important;
}

.light-menu a{
	color: #50b4bf!important;
}

.light-menu a:hover{
	background: transparent;
	color: #423634!important;
}
.light-menu{
	background: transparent!important;
	border: none;
}

@media (min-width: 992px) {
	.light-menu{
	background-image: radial-gradient(circle, #feeeec, #feeeec, #feeeec, #feeeec, #feeeec, #feefef, #fef1f2, #fef2f4, #fdf5f9, #fdf9fc, #fdfcfe, #ffffff)!important;
	}

}




/**********register + login*****/
/*sections*/
#login,
#register{
	padding: 10vh;
	margin: auto;
	border-radius: 10px;
	background-image: linear-gradient(to right bottom, #423634, #423634, #423634, #423634, #423634, #3e3331, #3b302e, #372d2b, #2f2625, #26201e, #1f1a18, #171312);
}

/*btn*/
.btn-login{
	background-color: #feeeec!important;
	color: #50b4bf;
}
.btn-login:hover{
	color: #423634;
}

/*formulaire*/
.col-form{
	display: flex;
	flex-direction: column;
}

/*******accueil*/
/*presentation*/
.album-fig,
.img-col{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

/*testimonials*/
.testimonial{
	display: flex;
	height: 50vh;
	background: #feeeec;
	background: url(../images/2_2.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: 5px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.testimonial-text{
	margin: 3vh 4vw;	
}

/*framework*/
#framework{
	padding: 0;
	background: url(../images/framework_bg.png),radial-gradient(circle, #feeeec, #feeeec, #feeeec, #feeeec, #feeeec, #feefef, #fef1f2, #fef2f4, #fdf5f9, #fdf9fc, #fdfcfe, #ffffff);
	background-repeat: repeat, no-repeat;
	background-size: 20%, 100%;
	 
}

.framework-container{
	background-image:radial-gradient(circle, #feeeec, #feeeec, #feeeec, #feeeec, #feeeec, #feefef, #fef1f2, #fef2f4, #fdf5f9, #fdf9fc);
}

.framework-col{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
@media (max-width: 992px) {
	.fullscreen{
		display:none!important;
	}

}

/*accordeon*/
#accordionFramework{
	margin-bottom: 2vh;
	margin-top: 2vh;
}
#accordionFramework .card{
	background: transparent!important;
}
#accordionFramework #headingOne,
#accordionFramework #headingThree{
	text-align: right;
}
.btn-accordion,
.btn-accordion:hover{
	color: #50b4bf!important;
	text-decoration: none!important;
}

@media (min-width: 992px) {
	.smallscreen{
		display:none!important;
	}
}

/*contact*/

/*pol conf*/

#polconf{
	padding: 10vh;
	margin: auto;
	border-radius: 10px;
	background-image: linear-gradient(to right bottom, #423634, #423634, #423634, #423634, #423634, #3e3331, #3b302e, #372d2b, #2f2625, #26201e, #1f1a18, #171312);
}

/**show***/
#resum h2{
	color: #feeeec;
}

